<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://localhost:3000/styles.css">
        <title>Todo MVC</title>
    </head>
    <body>
        
        <div class="container1">
            <div class="container">
                <h1 class="todos-title">todos</h1>
                <div class="bodyy">
                <div class="textfield">
        
                    <form action="<%=url%>/new-todo" method="POST" class="input-form" <% if(all>0){%> style="border-bottom: 1px solid #ededed" <%}%>  >
                        <a href="<%=url%>/toggle-all" id="toggle-a" class="toggle-a">
                            <img src="http://localhost:3000/arrow.jpg" alt="Toggle all" <%if(all <= 0 ){%> hidden<% }%>>
                        </a>
                        <input type="text" name="todo" class="form-control" placeholder="What needs to be done?" <%if(edit==false){%> autofocus <%}%>></input>
                        <input type="submit" value="Add Todo" class="submit-button" hidden>
                    </form>
        
                </div>
                


            <%if(all > 0 ){%>
            <div id="list" class="todo-div">

                <ul class="todo-list">
                    <% todo.forEach(todos =>{ %>
                        <li>
                        <div id="div-task">
                            <% if(edit==true){%>
                                <%if(ide==todos._id.toString()){%>
                                    <form id='f:<%=todos.id_%>'  class='edit-form'>
                                        <input onkeydown="changeTaskOnEnter(event, this, '<%=todos._id%>')" onblur="changeTask(this, '<%=todos._id%>')" type="text" name="todo" id="edit" class='edit' value="<%=todos.todo%>" autofocus>
                                        <!-- <input type='submit' class="edit-bt" id='edit-bt' hidden> -->
                                    </form>

                                    <%}else if(todos._id!=ide){%>
                                        <form id="f:<%=todos._id%>" class="one-todo" method="POST" <% if(edit ==false){%> style="padding-top: 0; padding-right: 23; padding-left: 6px;" <% }%>>
                                            <input data-check="<%=todos._id%>" id="<%=todos._id%>" class="<%=todos._id%>" name="completed" onChange="completeTask(this)" type="checkbox" <% if(todos.completed == true){%> checked<%}%>>
                                            <label for="<%=todos._id%>" class="checkLab" hidden></label>
                                            <label value="<%=todos.todo%>" id="l:<%=todos._id%>" class="t-label" <% if(todos.completed == true){%>style="text-decoration: line-through; color: #d9d9d9"<%}%> ondblclick="goTo(this, '<%=url%>')"> <%= todos.todo%> </label>
                                            <a data-delete="<%=todos._id%>" class="destroy" id="i:<%=todos._id%>" >×</a>
                                        </form>
                                <%}%> 
                                <%} else if(edit==false) {%>
                                    <form id ="f:<%=todos._id%>" class="one-todo" method="POST" <% if(edit ==false){%> style="padding-top: 0; padding-right: 23; padding-left: 6px;" <% }%>>
                                        <input data-check="<%=todos._id%>" id="<%=todos._id%>" class="<%=todos._id%>" name="completed" onChange="completeTask('<%=todos._id%>')" type="checkbox" <% if(todos.completed == true){%> checked<%}%>>
                                        <label for="<%=todos._id%>" class="checkLab" hidden></label>
                                        <label value="<%=todos.todo%>" id="l:<%=todos._id%>" class="t-label" <% if(todos.completed == true){%>style="text-decoration: line-through; color: #d9d9d9"<%}%> ondblclick="goTo(this, '<%=url%>')"> <%= todos.todo%> </label>
                                        <a data-delete="<%=todos._id%>" class="destroy" id="i:<%=todos._id%>" >×</a>
                                    </form>
                                <%}%>
                        </div>
                        
                    </li>                  
                    <%})%>
                </ul>
    
            </div>
            <div class="footer">
                <label class="items-left"><%=count%> items left</label>
                <ul class="footer-list">
                    <!-- <div class="filters"> -->
                    <li <%if(selected=='all'){%>style="border: 1px solid transparent;
                        padding-left: 3px;
                        padding-right: 3px;
                        margin: 1 auto;
                        margin-left: 15px;
                        margin-right: 15px;
                        border-color: rgba(175, 47, 47, 0.2);
                        border-radius: 1px;"<%}%>>
                        <a href="/" id="all-li")>All</a></li>
                    <li <%if(selected=='active'){%>style="border: 1px solid transparent;
                        padding-left: 3px;
                        padding-right: 3px;
                        margin: 1 auto;
                        margin-left: 15px;
                        margin-right: 15px;
                        border-color: rgba(175, 47, 47, 0.2);
                        border-radius: 1px;"<%}%>>
                        <a href="/active" id="active-li" >Active</a></li>
                    <li <%if(selected=='completed'){%>style="border: 1px solid transparent;
                        padding-left: 3px;
                        padding-right: 3px;
                        margin: 1 auto;
                        margin-left: 15px;
                        margin-right: 15px;
                        border-color: rgba(175, 47, 47, 0.2);
                        border-radius: 1px;"<%}%>>
                        <a href="/completed" id="completed-li" >Completed</a></li>
                    <!-- </div> -->
                </ul>
                
                <label class="clear-completed" <% if(comp <= 0){%> hidden <%}%>><a class="clear" id='clear'>Clear completed</a></label>
            </div>
            <% }%>
        </div>
        </div>
        </div>
        <script src="http://localhost:3000/script.js"></script>
    </body>
</html>